.loader-screen {
    position: fixed;
    padding: 0;
    margin: 0;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    z-index:1000;

    &__dim {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.loader-align {
    align-items: center;
    display: flex;
    height: calc(100vh - 0vh);
    justify-content: center;
    opacity: 0.6;
    width: 100%;
    z-index: 9999;
}
